body {
    width: 100%;
}
#photo{
    text-align: center;
}
#photo img {
    width: 60%;
}
div.thumbnails {
    float: left;
    width: 100%;
    text-align: center;
}

.thumbnails img {
    width: 10%;

}
